<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "Avreet".toUpperCase() %></h3>
    <h3><%= ["Awesome", "Great", "Cool"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illum dolorem, nemo rerum qui blanditiis officia nulla at mollitia quae aliquid repellat nobis quam, adipisci, animi cum quas dolorum ratione voluptate minus id maxime vero laboriosam. Praesentium ut natus, expedita omnis, repudiandae sunt dignissimos ex ea ullam, ratione quidem animi.</p>
    <button>Click Me!</button>
</body>
</html>